# Git
.git
.gitignore

# Logs
log/*
tmp/*

# Storage
storage/*

# CI/CD
.github/

# Development
.ruby-version
.env*
*.md

# Editor
.idea
.vscode
*.swp
*.swo

# Node
node_modules/

# Test artifacts
test/
spec/
screenshots/
playwright-report/
test-results/

# Documentation
docs/
